@import "../common/assets";

.modal-confirm-button-container {
  display: flex;
  column-gap: 10px;

  &.reverse {
    flex-direction: row-reverse;
  }

  .btn-no,
  .btn-yes {
    min-width: 100px;
  }
}
