@import "../common/assets";

label {
  display: block;
  line-height: 2.2;
}

input,
select,
textarea {
  display: block;
  padding: 10px;
  max-width: 90%;
  margin: 0 auto 30px;
}

textarea {
  width: 80%;
  max-width: 750px;
  height: 100px;
}
