@import "../common/assets";

label {
  display: block;
  line-height: 2.2;
}

input,
select,
textarea {
  display: block;
  padding: 10px;
  width: 90%;
  max-width: 250px;
  margin: 0 auto 30px;
}

textarea {
  resize: none;
  max-width: 500px;
  height: 130px;
}

.ymd-selects-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 30px;

  select {
    padding: 5px;
    margin: 0;
  }

  .long-select {
    width: 70px;
  }
  .short-select {
    width: 50px;
  }
}
