@import "../common/assets";

.carousel-wrapper {
  position: relative;
  border-radius: 20px;
  border: $yellow 2px solid;
  max-width: 500px;
  width: 90%;
  margin: auto;
  padding: 15px 10px;
}

.navigation {
  $space: -10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: $orange;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  width: 35px;
  height: 100px;
  box-shadow: 2px 2px 3px 3px lightgray;
  display: none;

  &.left {
    left: $space;
  }

  &.right {
    right: $space;
  }

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.user-card {
  .name,
  .age,
  .hometown {
    line-height: 2;
  }

  .profile {
    margin-top: 15px;
  }
}
