@import "./common/assets";
@import "./common/mixin";

$header: 54px;
$menu: 75px;
$input-text-min-height: 70px;
$input-text-focus-height: 150px;

.chat-view-component {
  position: fixed;
  top: $header;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  max-width: 500px;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - #{$header} - #{$menu});

  &.focus {
    top: calc(#{$header});

    .chat-input-form {
      height: $input-text-focus-height;
      textarea {
        background: lighten($orange, 45%);
      }
    }
  }

  .chat-content-container {
    padding-top: 30px;
    padding-bottom: 15px;
    height: 100%;
    overflow: auto;
    @include erace-scrollbar();
    transition: height 0.2s;
  }
  .chat-input-form {
    padding: 10px 5px;
    height: calc(#{$input-text-min-height} - 10px);
    margin: auto;
    transition: height 0.2s;
  }
}

.chat-list-view-container {
  $icon-size: 50px;
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 750px;
  margin: 0 auto 15px;

  .user-icon {
    width: $icon-size;
    height: $icon-size;
  }

  .text-wrapper {
    max-width: 80%;
    display: flex;
    align-items: flex-end;
    column-gap: 5px;

    &.me {
      flex-direction: row-reverse;
    }
  }

  .text-container {
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    word-break: break-all;
    max-width: 70vw;

    &.me {
      background: $yellow;
    }
    &.with {
      color: white;
      background: $darkgray;
    }
  }

  &.right {
    flex-direction: row-reverse;
  }
}

.date-container {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 1.4rem;
}

.sent-at-container {
  font-size: 1.1rem;
  color: $darkgray;
  padding: 2px;

  &.me {
    text-align: right;
  }
  &.with {
    text-align: left;
  }
}

.chat-input-form {
  padding: 10px;
  width: calc(100% - 10px);
  height: $input-text-min-height;
  display: flex;
  align-items: start;
  column-gap: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px lightgray;

  .input-text-area {
    resize: none;
    padding: 5px;
    height: 100%;
    margin: 0 auto;
  }

  .btn-orange {
    width: 60px;
    margin: 0;
  }
}

.chatroom-menu-title {
  font-size: 1.8rem;
}

.data-showcase {
  font-weight: bold;
  margin: -15px auto 30px;
}

label {
  text-decoration: underline 2px black;
  text-underline-offset: 2px;
  margin-bottom: 10px;
}
