@import "./common/assets";

.chat-list-view-container {
  $icon-size: 50px;
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 750px;
  margin: 0 auto 15px;

  .user-icon {
    width: $icon-size;
    height: $icon-size;
  }

  .text-container {
    background: $yellow;
    padding: 10px;
    border-radius: 5px;
    max-width: 60%;
  }

  &.right {
    flex-direction: row-reverse;
  }
}

.chat-input-wrapper {
  position: fixed;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  width: 95%;
  max-width: 500px;
  padding: 15px;
  // background: $darkgray;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 5px lightgray;

  .input-text-area {
    resize: none;
    padding: 5px;
    height: 75px;
    width: 100%;
    margin: 0 auto;
  }

  .btn-orange {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.chatroom-menu-title {
  font-size: 1.8rem;
}
