@import "./common/assets";

$back-to-before-component-width: 60px;

header {
  background: $yellow;
  position: relative;
  text-align: center;
  padding: 15px 10px;
  box-shadow: 0 2px 2px 2px lightgray;
}

.header-menu-button {
  $button-width: 15px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-title {
  margin: 0 auto;
  font-size: 1.6rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - #{$back-to-before-component-width} - 50px);
  .inline-block {
    display: inline-block;
  }
}

.back-to-before-component {
  $arrow-width: 15px;

  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding-left: 5px;

  display: flex;
  align-items: center;
  column-gap: 5px;

  .arrow-lt {
    height: 20px;
  }

  .text {
    font-weight: bold;
    // font-size: 1.rem;
  }

  &:not(.active) {
    display: none;
  }
}
