@import "./common/assets";

.modal-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;
  background: rgba(0,0,0,0.8);

  &:not(.active){
    display: none;
  }
}

.loading-wrapper{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container{

  border-radius: 20px;
  padding: 30px 15px;

  &.white {
    background: white;
  }

  .title{
    color: $orange;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .text{
    line-height: 1.7;
  }

  .btn-close{
    margin: 30px auto 0;
  }
}
