.sign-up-content-container {
  margin-top: 10vh;

  .app-logo {
    width: 300px;
  }

  .btn-sign-up {
    margin-top: 0;
    margin-bottom: 0;
  }

  .copyright {
    font-size: 1.2rem;
    margin-top: 50px;
    padding: 5px;
  }
}
