@import "./common/assets";

.user-profile-wrapper{
  text-align: center;
  $icon-size: 250px;
  .user-icon{
    object-fit: contain;
    width: $icon-size;
    max-width: 100%;
    height: $icon-size;
    border-radius: 10000px;
  }

  .name{
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .status{
    margin-bottom: 50px;
  }

  .profile{
    background: $yellow;
    border-radius: 10px;
    box-shadow: 3px 3px 7px 5px lightgray;
    padding: 30px 10px;
    margin: 0 auto;
    width: 95%;
    max-width: 750px;
  }
}

