@import "./assets";

button{
  display: block;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border: 0;
  margin: 30px auto;
  box-shadow: 2px 2px 5px 3px lightgray;

  &:hover{
    cursor: pointer;
  }

  &.btn-gray{
    background: $darkgray;
  }

  &.btn-orange{
    background: $orange;
  }
}

.clickable:hover{
  cursor: pointer;
}

.user-icon{
  object-fit: contain;
  border-radius: 10000px;
}

.name{
    font-weight: bold;
}

.profile.card{
  text-align: left;
  background: $yellow;
  border-radius: 10px;
  box-shadow: 3px 3px 7px 5px lightgray;
  padding: 30px 10px;
  margin: 0 auto;
  width: 95%;
  max-width: 750px;
}

.arrow-gt.absolute {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.p-events-none{
  pointer-events: none;
}