@import "./assets";
@import "./mixin";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  text-align: center;
  font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  display: block;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border: 0;
  margin: 30px auto;
  box-shadow: 2px 2px 5px 3px lightgray;

  &:hover {
    cursor: pointer;
  }

  &.btn-gray {
    background: $darkgray;
  }

  &.btn-orange {
    background: $orange;
  }

  &.btn-img {
    background: none;
    box-shadow: none;
    color: black;
  }
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.clickable:hover {
  cursor: pointer;
}

.user-icon {
  object-fit: cover;
  border-radius: 10000px;
  width: 120px;
  height: 120px;
}

.name {
  font-weight: bold;
}

.arrow-gt.absolute {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.p-events-none {
  pointer-events: none;
}

.flex-xyc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-xyc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orange {
  color: orange;
}

.darkgray {
  color: $darkgray;
}

.app-view-container {
  margin-top: 30px;
  padding: 0 10px;
  overflow: auto;

  @include erace-scrollbar();
}

.notification {
  display: none;
  &.active {
    display: block;
  }

  &.round {
    $size: 18px;
    width: $size;
    height: $size;
    border-radius: 100px;
  }

  &.orange {
    background: $orange;
  }

  &.blink {
    animation: blink 1.5s infinite;
    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
